# Data cleaner - remove

In [41]:
### Imports
import os # to manipulate paths
import numpy as np
import pandas as pd # Pandas data frames

In [42]:
### Main execution

input_file_name = "demo_input.csv"
input_file = os.path.join(os.getcwd(),'data',input_file_name)
os.path.exists(input_file) # test that your path is correct

True

In [43]:
# read csv file, with header ( first row), assume all inputs are strings
data = pd.read_csv(input_file, dtype={14:str}, header=0)

# columns to hkeep:
cols = ['sessionID','time','x','y']
data = data[cols]
data["x"]=data["x"]-2500000
data["y"]=data["y"]-2500000
print(data["sessionID"].nunique())
data["sessionID"] = data["sessionID"].apply(int, base=16).mod(863).astype(str).str.replace('^.', 's', regex=True)
print(data["sessionID"].nunique())
data.head()

10
10

  sessionID                 time              x              y
0       s82  2016-09-11 23:42:22  517124.889294  202226.341991
1       s82  2016-09-11 23:42:27  517119.144369  202206.671010
2       s82  2016-09-11 23:42:32  517119.144369  202206.671010
3       s82  2016-09-11 23:42:37  517119.210414  202207.778931
4       s82  2016-09-11 23:42:42  517119.210414  202207.778931

In [46]:
output_file_name = "demo_input_clean.csv"
output_file = os.path.join(os.getcwd(),'data',output_file_name)
data.to_csv(output_file,columns=cols,index=False)